.site{
  &-main {
    max-width: 1000px;
    width: 80%;
    margin-left: -1.5%;
    display:flex;
    flex-wrap:wrap;
    float: left;
    &.js-comic {
      .tag-comic {
        display: block;
      }
    }
    &.js-anime {
      .tag-anime {
        display: block;
      }
    }
    &.js-app {
      .tag-app {
        display: block;
      }
    }
    &.js-pachinko {
      .tag-pachinko {
        display: block;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &-main {
      width: 100%;
      margin-left: 0;
      display:flex;
      flex-wrap: wrap;
      float: none;
      &.js-comic {
        .tag-comic {
          display: block;
        }
      }
      &.js-anime {
        .tag-anime {
          display: block;
        }
      }
      &.js-app {
        .tag-app {
          display: block;
        }
      }
      &.js-pachinko {
        .tag-pachinko {
          display: block;
        }
      }
    }
  }
}

.entry {
  &-article {
    display: none;
    width: 50%;
    padding: 0 2%;
    box-sizing: border-box;
  }
  &-header {
    margin-bottom: 20px;
    .post-thumbnail {
      position: relative;
      a {
        text-decoration: none;
        color: #fff;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &-content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
    background: rgba(0,0,0,.3);
    padding: 10px 5px 5px;
    box-sizing: border-box;
    &_date {
      font-size: 12px;
      line-height: 1;
    }
    &_ttl {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  @media screen and (max-width: 768px) {
    &-article {
      width: 100%;
      padding: 0;
    }
    &-header {
      margin-bottom: 10px;
    }
    &-content {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5px;
      background: rgba(0,0,0,.3);
      padding: 10px 5px 5px;
      box-sizing: border-box;
      &_date {
        font-size: 12px;
        line-height: 1;
      }
    }
  }
}
.content-more {
  width: 100%;
  &_lnk{
    display: block;
    max-width: 334px;
    width: 80%;
    margin: 0 auto;
    border: solid 1px #666666;
    text-decoration: none;
    color: #666666;
    padding: 10px 0;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    &_lnk{
      max-width: 100%;
      width: 100%;
      padding: 5px 0;
      font-size: 13px;
    }
  }
}