.top-bnr-block {
    width: 100%;
}
.top-banner {
  max-width: 1000px;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto 0;
}
.middle-banner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 40px;
  img {
    width: 100%;
    height: auto;
  }
}
.side-banner {
  postion: -webkit-sticky;
  position: sticky;
  top: 30px;
  width: 13%;
  max-width: 160px;
  float: right;
  img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .top-banner {
    margin: 0 auto 0;
    text-align: center;
      .nendAdContainer.nend_adcontainer_fullwidth_portrait {
          width: 100%!important;
          height: auto;
      }
   img {
        width: 100%;
        height: auto;
      }
  }
  .middle-banner {
    margin: 30px auto 30px;
  }
  .side-banner {
    display: none;
  }
}