main {
  background: #000000;
  .main {
    &-slider {
      max-width: 1200px;
      margin: 0 auto;
      &-content {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 35px 0 30px;
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0, .9));
        &__inner {
          max-width: 440px;
          width: 95%;
          margin: 0 auto;
        }
      }
      &-date {
        font-size: 12px;
        color: #fff;
      }
      &-ttl {
        font-size: 18px;
        color: #fff;
        margin-top: 2px;
      }
    }
  }
}