.wrap {
  max-width: 1160px;
  width: 90%;
  margin: 40px auto;
  &-search {
    width: 100%;
    margin: 20px 0 15px;
    ul {
      padding: 0;
      margin: 0;
      font-size: 0;
      li {
        list-style: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #999;
        margin-right: 45px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        &.is-active {
          color: #83ecd4;
        }
      }
    }
  }
  .search-form {
    position: relative;
    justify-content: flex-end;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    form {
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      padding: 4px 10px;
    }
    label {
      display: none;
    }
    .search-field {
      font-size: 14px;
      width: 90%;
      height: 22px;
      border-radius: 5px;
      border: none;
      &:placeholder-shown {
        color: #e6e6e6;
        font-size: 14px;
      }
      &::-webkit-input-placeholder {
        color: #e6e6e6;
        font-size: 14px;
      }
      &:-moz-placeholder {
        color: #e6e6e6;
        font-size: 14px;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: #e6e6e6;
        font-size: 14px;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #e6e6e6;
        font-size: 14px;
      }
    }
    .btn-search {
      position: absolute;
      background: none;
      border: none;
      cursor: pointer;
      top: 5px;
      right: 6px;
    }
    .screen-reader-text {
      display: none;  
    }
    .icon-search {
      width: 20px;
      height: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    &-search {
      width: 100%;
      margin: 20px 0 15px;
      ul {
        li {
          margin-right: 5px;
          padding: 2px 10px;
          &.is-active {
            color: #fff;
            background: #83ecd4;
          }
        }
      }
    }
  }
}