body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* { font-family: "Noto Sans Japanese"; }
.wf-nicomoji { font-family: "Nico Moji"; }

h1,h2,h3,h4,h5,p,a {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}
ul {
	margin: 0;
	padding: 0;
}

.hdg-lv1 {
  font-size: 48px;
  color: #999999;
}
.hdg-main {
  vertical-align: middle;
}
.hdg-txt {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 10px;
}
.hdg-lv3 {
	font-size: 21px;
    font-weight: bold;
}
.txt-note {
	font-size: 10px;
}
.animate-fadein {
	transition: all .3s linear;
	opacity: 0;
	&.is-active {
		opacity: 1;
	}
}
.c-white {
	color: #fff;
}
input,  
textarea, 
select {
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
@media screen and (max-width: 585px) {
	.hdg-lv2 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.hdg-lv3 {
		font-size: 18px;
	}
}
.tag-lst{
  margin: 6px 0 0;
  padding: 0;
  font-size: 0;
  font-size: 0;
  li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    color: #83ecd4;
    border: solid 1px #83ecd4;
    margin-right: 10px;
    padding: 2px 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}