@charset "UTF-8";

@import "config/normalize";
@import "config/slick";
@import "config/config";

@import "modules/header";
@import "modules/main";
@import "modules/footer";
@import "modules/article";
@import "modules/btn";
@import "modules/fixed";
